<h2>
  About
</h2>

<%# TODO: replace text when client shares it %>

<div style="text-align:start; width:87%;">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odio ea laborum quam deserunt aperiam! Laboriosam dicta optio dolore illum nobis debitis, aspernatur facilis dolorum rem. Fugit in iusto consequatur?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, sequi numquam illo ad atque similique?
  </p>

  <%= image_tag "flowers/featured.jpeg", style: "display: block; margin: 0 auto; width: 50%;" %>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nam atque inventore. Quidem, consectetur corrupti. Tenetur nam atque inventore. Quidem, consectetur corrupti.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, dolorem velit accusantium quia blanditiis delectus excepturi qui ea tempora rem?
  </p>
</div>
