<h3>
  <%= t("order_mailer.shipped.body.greeting")%>
</h3>

<p>
  <%= t("order_mailer.shipped.body.notice")%>
</p>

<%= render partial: @order.line_items.includes(:product) -%>

<%# TODO if I do delivery include relevant info here, like tracking code or arrival %>