.products-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.products-container turbo-frame {
  width: 26%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.products-container turbo-frame:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.products-container turbo-frame img{
  width: 100%;
  border-radius: 20px;
}

.products-container turbo-frame .content {
  text-align: start;
  padding: 10px 0;
}

.product-card .content h3{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product-card .content i{
  color: rgb(243, 181, 25);
  font-size: 12px;
}

.product-card .content h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--highlight);
}

.product-card .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f6f2e8;
  font-weight: 500;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.shopping-cart-icon {
  -webkit-mask-image: url("shopping-cart.svg");
  mask-image: url("shopping-cart.svg");
  background-color: var(--highlight);
  width: 28px;
  height: 28px;
  margin: 5px;
}

.pagination {
  margin: 25px 0;
  text-align: center;
  display: flex;
}

.pagination a {
  text-decoration: none;
  color: #fff;
}

.pagination span {
  font-size: 16px;
  background-color: var(--highlight);
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 2px;
}

.pagination .current {
  color: #fff;
  background-color: #606063;
}

.pagination i {
  font-size: 16px;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

@media(max-width: 799px){
  .products-container {
    justify-content: center;
  }

  .products-container turbo-frame {
    margin: 15px;
  }
}
