:root{
  --logo-color: #1a1a1a;
  --text-color: #a1a1a1;
  --highlight: #a72525;
  --cta-color: #454545;
  --title-color: #000;
  --yellow: #e1d000;
  --pastel-green: #4f5;
  --pastel-highlight: #f44;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

a[disabled] {
  pointer-events: none;
}

body{
  width: 100%;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3e3e3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100px;
}

#nav li{
  display: none;
}

#header {
  padding: 20px 50px;
}

#header .logo img {
  display: block;
  margin: 0 3%;
  width: 200px;
  max-width: 40vw;
}

#main{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ! Remove if unused: */
/* .field{
  display: block;
} */

.title{
  color: var(--title-color);
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.paragraph{
  line-height: 1.5;
  margin: 1em 0 2em;
  color: var(--text-color)
}

.cta{
  text-decoration: none;
  color: var(--cta-color);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.cta_arrow{
  margin-left: 20px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4{
  font-size: 16px;
  padding-bottom: 20px;
}

footer p{
  font-size: 15px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin: 0 0 10px 0;
}

footer img{
  color: #5b4646;
  padding-right: 4px;
  cursor: pointer;
  width: 28px;
}

footer img:hover,
footer a:hover {
  color: var(--highlight);
}

footer .attribution {
  width: 100%;
  text-align: center;
}

#nav li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  display: block;
}

#header a{
  color: var(--logo-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3 ease;
}

#nav a:hover,
#nav a.active {
  color: var(--highlight);
}

.icon {
  width: 24px;
  height: 24px;
}

.svg {
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--logo-color);
}

.cart-icon {
  -webkit-mask-image: url("cart.svg");
  mask-image: url("cart.svg");
}

#nav .cart-icon:hover,
#nav .active .cart-icon {
  background-color: var(--highlight);
}

#nav a:hover::after,
#nav a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--highlight);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#close-icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

@media(max-width: 799px){
  .mobile .cart-icon {
    margin-right: 5px;
  }

  #nav ul{
    --sidebar-width: 300px;
    position: fixed;
    top: 0;
    right: calc(-1 * var(--sidebar-width));
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #f3e3e3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: 0.3s;
    z-index: 1;
  }

  #nav .open {
    right: 0px;
  }

  #nav li {
    margin-bottom: 25px;
  }

  #main-cart i {
    display: none;
  }
}

@media(min-width: 840px){
  .mobile, #close-icon {
    display: none;
  }

  .cart-icon {
    width: 24px;
    height: 24px;
  }

  #main{
    width: 85%;
    max-width: 1080px;
    /* margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
  }

  #header {
    padding: 20px 50px;
    height: 130px;
  }

  #header .logo {
    width: 40%;
  }

  #header .logo img {
    margin: 0 3%;
    width: 360px;
  }

  #nav ul{
    display: flex;
    width: 660px;
  }

  #nav .general-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
  }

  #nav .session-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }

}
