:root{
  --logo-color: #1a1a1a;
  --text-color: #a1a1a1;
  --highlight: #a72525;
  --cta-color: #454545;
  --title-color: #000;
  --yellow: #e1d000;
  --pastel-green: #4f5;
  --pastel-highlight: #f44;
}

*{
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  width: 100%;

  /* background-image: url("bg.png");
  background-size: cover;
  background-position: center; */
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3e3e3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100px;
  /* 

  background-color: teal; */

  /* background-image: url(../images/desktop-image-hero-1.jpg);
  background-size: cover;
  background-position: center; */
}

#nav li{
  display: none;
}

.hamburger{
  margin: 0 3%;
}

#header .logo{
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}


#main{
}

.title{
  color: var(--title-color);
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.paragraph{
  line-height: 1.5;
  margin: 1em 0 2em;
  color: var(--text-color)
}

/* .paragraph--about{
  margin-bottom: 0;
} */

.cta{
  text-decoration: none;
  color: var(--cta-color);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.cta_arrow{
  margin-left: 20px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4{
  font-size: 16px;
  padding-bottom: 20px;
}

footer p{
  font-size: 15px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin: 0 0 10px 0;
}

footer i{
  color: #5b4646;
  padding-right: 4px;
  cursor: pointer;
}

footer i:hover,
footer a:hover {
  color: var(--highlight);
}

footer .attribution {
  width: 100%;
  text-align: center;
}

@media(min-width: 740px){
  /* .container{
    width: 85%;
    padding: 70px 0;
  } */

  .hamburger{
    display: none;
  }

  #header {
    padding: 20px 80px;
    height: 130px;
  }

  #header .logo{
    margin: 0 3%;
  }

  #nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav li{
    list-style: none;
    padding: 0 22px;
    position: relative;
    display: block;
  }

  #nav a{
    color: var(--logo-color);
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: 0.3 ease;
  }

  #nav a:hover,
  #nav a.active {
    color: var(--highlight);
  }

  #cart-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("cart.svg");
    mask-image: url("cart.svg");
    background-color: var(--logo-color);
  }

  #cart-icon:hover,
  .active #cart-icon {
    background-color: var(--highlight);
  }

  #nav a:hover::after,
  #nav a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--highlight);
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
}
