<% content_for :title, "Products" %>

<h2>Products</h2>

<p>Flowers that last</p>

<%# TODO: Turn into pretty button: %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "New product", new_product_path %>
<% end %>

<section class="products-container">
  <% @products.each do |product| %>
    <%= render "products/product_card", product: product %>

    <p><%= link_to "Show this product", product %></p>
  <% end %>
</section>

<%= render "layouts/pagination" %>
