<footer>
  <div class="col">
    <h4>Follow Us</h4>

      <%# ! Must replace this, and also make socials %>
    <div class="icon">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-pinterest-p"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <%= link_to "About Us", about_url %>
    <%# <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a> %>
    <%= link_to "Contact Us", contact_url %>
  </div>

  <div class="col">
    <h4>My Account</h4>

    <a href="#">Sign In</a>
    <%= link_to "View Cart", cart_url %>
    <a href="#">My Wishlist</a>
    <%# <a href="#">Track My Order</a> %>
  </div>

  <div class="attribution">
    <p>made by solise</p>
  </div>
</footer>
