<nav class="nav">
  <ul class="nav__links">
    <li class="nav__li">
      <%= link_to "Home", root_url, class: "nav__link" %>
      <%= link_to "About", about_url, class: "nav__link" %>
      <%= link_to "Contact us", contact_url, class: "nav__link" %>
    </li>
  </ul>
</nav>
