<nav id="nav">
  <ul>
    <li>
      <%= link_to "Home", root_url, class: request.path == "/" ? 'active' : nil %>
    </li>
    <li>
      <%= link_to "About", about_url, class: request.path == "/about" ? 'active' : nil %>
    </li>
    <li>
      <%= link_to "Contact", contact_url, class: request.path == "/contact" ? 'active' : nil %>
    </li>
    <li>
      <%= link_to cart_url, class: request.path == "/cart" ? 'active' : nil do %>
        <i id="cart-icon" aria-label="Cart"></i>
      <% end %>
    </li>
  </ul>
</nav>
